<div class="htpasswd-app">
    <header class="htpasswd-app__header form">
        <div class="row row--user u-box" v-for="(user, index) in formData.users" :key="index">
            <button class="col drag"><i class="fa fa-grip-lines" /></button>
            <input class="col u-flex" type="text" placeholder="username" v-model="user.username" />
            <input class="col u-flex" type="password" placeholder="password" v-model="user.password" />
            <button class="col" @click="removeItem(formData.users, index)"><i class="fa fa-window-close" /></button>
        </div>
        <div class="row u-box u-box--align-center">
            Press&nbsp;<button class="fa fa-plus" @click="addUser" />&nbsp;to add credential
        </div>

        <div class="row u-box">
            <input class="u-flex" type="text" placeholder="Server absolute path, ie: /home/domain.com/httpdocs"
                v-model="formData.path" />
        </div>
        <div class="u-box">
            <button class="u-flex" @click.prevent="onGenerate">Renerate</button>
        </div>
    </header>

    <div v-if="show" class="htpasswd-app__main u-box">
        <HtpasswdPanel class="u-flex" title=".htaccess" download=".htaccess" :value="htaccessResult" />
        <HtpasswdPanel class="u-flex" title=".htpasswd" download=".htpasswd" :value="htpasswdResult" />
    </div>
</div>